@media (max-width: 320px){

  body{
    font-family: serif;
    font-size: 24px;
  }

  #container {
    max-width: 320px;
    min-width: 0px;
    margin: 0 auto;
  }

  h1, h2, h3, h4 {
    font-family: serif;
  }

  nav li {
    margin-right: .5px;
    padding-left: .5px;
  }

  img {
    display: none;
  }

  article p.date {
    position: static;
  }

  article p.location {
    position: static;
  }

  td {
    display: inline-block;
  }

  th {
    display: block;
  }

  .mobile {
    display: inline-block;
  }

  .web {
    display: none;
  }
}
