@import url(https://fonts.googleapis.com/css?family=Lora|Tinos);

body {
font-family: "Tinos", serif;
font-size: 16px;
color: #222;
background: url(../img/cream-pixels.png);
background-color: #B8F4FF; /*light blue*/
}

#container {
  max-width: 960px;
  min-width: 650px;
  margin: 0 auto;
  background: rgba(255,255,255,.75)
}

div {
  padding: 5px;
  /*border: 1px solid #222;*/
  margin: 5px;
}

header, nav{
  text-align: center;
}

nav ul li {
  display: inline;
}

h1, h2 {
  font-family: "Lora", serif;
}

article {
  position: relative;
  padding: 5px;
  margin: 5px;
}

article p.date {
  position: absolute;
  top: 5px;
  right: 0;
}

article p.location {
  position: absolute;
  top: 2em;
  right:0;
}

th{
  text-align: left;
}

a {
  color: #3FABF9; /* light blue */
  text-decoration: none;
}

a:hover {
  color: #4EA319; /* light green */
  text-decoration: underline;
}

a:active {
  color: #F89B27; /* light orange */
}

a:visited {
  color: #8132EA; /* light purple */
}

footer {
  text-align: center;
}
