@import url(https://fonts.googleapis.com/css?family=Lora|Tinos);

body {
font-family: "Tinos", serif;
font-size: 16px;
color: #222;
background: url(../img/cream-pixels.png);
background-color: #B8F4FF; /*light blue*/
}

#container {
  max-width: 780px;
  min-width: 650px;
  margin: 0 auto;
  background: rgba(255,255,255,.75);
  overflow: auto;
}

div {
  padding: 5px;
  /*border: 1px solid #222;*/
  margin: 5px;
  position: relative;
}

img {
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  width: 250px;
}

header, nav {
  text-align: center;
}

nav ul {
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

nav li {
  text-align: center;
  display: inline-block;
  margin-right: 1px;
  padding: 0 10px;
  border-right: 1px solid #222;
}

nav li:last-child {
  border-right: 0;
}

h1, h2, h3, h4 {
  font-family: "Lora", serif;
}

article {
  position: relative;
  padding: 5px;
  margin: 5px;
}

article p.date {
  position: absolute;
  top: 5px;
  right: 0;
}

article p.location {
  position: absolute;
  top: 2em;
  right:0;
}

table {
  border-spacing: 0px;
}

td {
  padding-right: 10px;
}

th{
  text-align: left;
  padding-right: 10px;
}

a {
  color: #3FABF9; /* light blue */
  text-decoration: none;
}

a:hover {
  color: #4EA319; /* light green */
  text-decoration: underline;
}

a:active {
  color: #F89B27; /* light orange */
}

a:visited {
  color: #8132EA; /* light purple */
}

#social ul li{
  list-style: none;
  display: inline;
  margin-right: 55px;
  margin-left: 50px;
}

.mobile {
  display: none;
}

.right {
  float:right;
  margin-left: 20px;
  margin-right: 0;
}
